# Ignore build directories
dist/
**/dist/

# Ignore CLI scaffolding templates (contain template placeholders)
packages/create-extension/template/
**/template/
packages/create-extension/src/stubs.json

# Ignore dependency directories
node_modules/
**/node_modules/

# Ignore local config files
.turbo/
.husky/
